<div class="footer">
    <div class="container-fluid">
        <div class="text-center">

            <a ui-sref="home"><img class="social" src="assets/images/home.png"></a>
            <a ui-sref="portfolio"><img class="social" src="assets/images/newspaper.png"></a>
            <a href="https://github.com/juliobguedes/"><img class="social" src="assets/images/github-logo.png"></a>
            <a href="https://twitter.com/juliobguedes/"><img class="social" src="assets/images/twitter.png"></a>
            <a href="https://www.linkedin.com/in/juliobguedes/"><img class="social" src="assets/images/linkedin.png"></a>
            <a ui-sref="info"><img class="social" src="assets/images/info.png"></a>

        </div>
    </div>
</div>
