<div class="mainContent">
    <div class="row">
        <div class="col-md-3">
            <img class="seriesImg" src="assets/images/chuck.jpg">
        </div>
        <div class="col-md-9">
            <div hljs hljs-include="hobbies1"></div>
        </div>
    </div>
    <div class="row part2">
        <div class="col-md-9">
            <div hljs hljs-include="hobbies2"></div>
        </div>
        <div class="col-md-3">
            <img class="seriesImg2" src="assets/images/wow.jpg">
        </div>
    </div>

</div>