<div class="home">
    <h1>{{"" | language:input:"a"}}</h1>
    <div class="row">
        <h2 class="col-md-10">{{"" | language:input:"b"}}</h2>
        <div class="col-md-2">
            <input 
                bs-switch
                ng-model="input"
                switch-active="true"
                switch-on-text="EN"
                switch-off-text="PT"
                type="checkbox" name="my-checkbox" checked/>
        </div>
    </div>
    <hr class="my-4">
    <h4>{{"" | language:input:"c"}}</h4>
    <h4>{{"" | language:input:"d"}}</h4>
    <h4>{{"" | language:input:"e"}}</h4>

    <div class="text-center">
        <button ng-click="letsgo()" class="btn btn-secondary">{{"" | language:input:"f"}}</button>
    </div>

</div>

<div ng-include="'templates/footer.html'"></div>