<div class="mainContent">

    <h1>Information about this page:</h1>

    <h4>All the content in this page put together by myself, and here is where I come to give the credits to everyone that helped to the creation of the page.</h4>
    <div>
        <p>All icons:</p>
        <ul>
            <li>Icons made by <a href="https://www.flaticon.com/authors/alfredo-hernandez" title="Alfredo Hernandez">Alfredo Hernandez</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></li>
            <li>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></li>
            <li>Icons made by <a href="https://www.flaticon.com/authors/dave-gandy" title="Dave Gandy">Dave Gandy</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></li>
            <li>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></li>
            <li>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></li>
        </ul>
    </div>

    <div>
        <p>All images:</p>
        <ul>
            <li>Image of Areia: Credits to my father, Edilson, a great photographer and man.</li>
            <li>Image of Campina Grande: Credits to Jorge Barbosa, posted in <a href="http://www.jornaldaparaiba.com.br/vida_urbana/exposicao-fotografica-mostra-belezas-de-campina-grande-em-seus-153-anos.html">Jornal da Paraíba</a>.</li>
            <li>Chuck image: Credits to <a href="https://www.nbc.com/chuck?nbc=1">NBC</a></li>
            <li>World of Warcraft image: <a href="us.battle.net">Blizzard</a></li>
            <li>PET and Women in Computation images: Credits to CS PET group</li>
            <li>Libratizar icons: Credits to Kalina Ferreira</li>
            <li>Tormenta logo: Credits to <a href="jamboeditora.com.br">Jambô Editora</a></li>
        </ul>
    </div>

    <div>
        <p>All libraries:</p>
        <ul>
            <li>
                <a href="https://github.com/impress/impress.js/">Impress.js</a>, 
                <a href="https://github.com/pc035860/angular-highlightjs">Angular-highlight</a>, 
                <a href="https://github.com/isagalaev/highlight.js/">highlight.js</a>, 
                <a href="https://ui-router.github.io/ng1/">angular-ui-router</a>
            </li>
        </ul>
    </div>

    <div>
        <p>Visual inspired by <a href="https://code.visualstudio.com/">Visual Studio Code</a>.</p>
    </div>

</div>













<div ng-include="'templates/footer.html'"></div>