<div class="mainContent">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="text-center">
                <img class="banner" src="assets/images/logo-libratizar.png" alt="Libratizar">
            </div>
            <div hljs hljs-include="libratizar2" class="part2"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-1 col-md-1">
            <button ng-click="changeTemplate('libratizar')" class="btn btn-secondary">{{"" | language:input:"o"}}</button>
        </div>
    </div>
</div>