<div class="mainContent">
    <div class="row text-center">
        <h1 class="Gunny">
            <span class="p1">M</span>
            <span class="p2">u</span>
            <span class="p1">s</span>
            <span class="p2">i</span>
            <span class="p1">c</span>
            <span class="p2">H</span>
            <span class="p1">u</span>
            <span class="p2">b</span>
        </h1></div>
    <div class="row">
        <div hljs hljs-include="musichub"></div>
    </div>
</div>

