<div class="mainContent">

    <div class="row">
        <div class="col-md-8">
            <div hljs hljs-include="pet1"></div>
        </div>
        <div class="col-md-4">
            <img class="logoImg" src="assets/images/logo-pet.png" alt="{{pet}}">
        </div>
    </div>

    <div class="row part2">
        <div class="col-md-4">
            <img class="logoMnc" src="assets/images/mnc.jpg" alt="{{mulheres}}">
        </div>
        <div class="col-md-8">
            <div hljs hljs-include="pet2"></div>
        </div>
    </div>


</div>