<div>
    
    <div class="sidebar-menu">
        <div class="icons">
            <a ui-sref="home"><img class="social" src="assets/images/home-white.png"></a>
            <a ui-sref="portfolio"><img class="social" src="assets/images/newspaper-white.png"></a>
            <a href="https://github.com/juliobguedes/"><img class="social" src="assets/images/github-logo-white.png"></a>
            <a href="https://twitter.com/juliobguedes/"><img class="social" src="assets/images/twitter-white.png"></a>
            <a href="https://www.linkedin.com/in/juliobguedes/"><img class="social" src="assets/images/linkedin-white.png"></a>
            <a ui-sref="info"><img class="social" src="assets/images/info-white.png"></a>
            <div class="switch">
            <input
                bs-switch
                ng-model="input"
                switch-size="mini"
                switch-active="true"
                switch-on-text="EN"
                switch-off-text="PT"
                type="checkbox" name="my-checkbox" checked/>
            </div>
        </div>
        <div class="another-sidebar">
            <div class="division0">Explorer</div>
            <div class="division1"><span class="glyphicon glyphicon-menu-down"></span>  Sections</div>
            <div class="division2"><span class="glyphicon glyphicon-menu-down"></span>  About Me</div>
            <div class="division3"><span class="glyphicon glyphicon-menu-right"></span>  Profile</div>
            <div class="division3"><span class="glyphicon glyphicon-menu-right"></span>  Places</div>
            <div class="division3"><span class="glyphicon glyphicon-menu-right"></span>  Hobbies</div>
            <div class="division2"><span class="glyphicon glyphicon-menu-down"></span>  University</div>
            <div class="division3"><span class="glyphicon glyphicon-menu-right"></span>  PET</div>
            <div class="division3"><span class="glyphicon glyphicon-menu-right"></span>  Monitoring</div>
            <div class="division2"><span class="glyphicon glyphicon-menu-down"></span>  Projects</div>
            <div class="division3"><span class="glyphicon glyphicon-menu-right"></span>  Tormenta</div>
            <div class="division3"><span class="glyphicon glyphicon-menu-right"></span>  MusicHub</div>
            <div class="division3"><span class="glyphicon glyphicon-menu-right"></span>  Libratizar</div>
        </div>
    </div>



</div>