<div class="mainContent">
    <div class="row">
        <div class="col-md-3">
            <img class="logoTormenta" src="assets/images/logo-tormenta.png" alt="">
        </div>
        <div class="col-md-offset-1 col-md-7">
            <div hljs hljs-include="tormenta1"></div>
        </div>
    </div>
    <div class="row part2">
        <div class="col-md-9">
            <div hljs hljs-include="tormenta2"></div>
        </div>
        <div class="col-md-3">
            <a href="https://juliobguedes.github.io/TormentaSpellbook/#!/"><img class="logoD20" src="assets/images/logo-d20-white.png" alt=""></a>
        </div>
    </div>
</div>